<html xmlns:th="http://www.thymeleaf.org" >
<head>
   <!-- header fragment -->
   <div th:replace="layout/header :: fragment-header"></div>
</head>
<body>

<!-- navbar fragment -->
<div th:replace="layout/navbar :: fragment-nav"></div>

<!-- <div class="container">
    <div><h1> 최신 글 </h1></div>
    <div class="card m-2" th:each="board : ${boardList.content}">
        <div class="card-body">
            <h4 class="card-title" th:text="${board.getTitle()}">게시글 제목</h4>
            <strong th:text="|작성자 : ${board.getUser().getUserid()}|">작성자 : 김OO</strong>
            <p th:text="|날짜 : ${board.getCreateDate()}|">20xx-xx-xx xx:xx:xx.xx</p>
            <p th:text="|조회수 : ${board.getCount()}|">132</p>
            <a th:href="@{|/board/${board.id}|}" class="btn btn-primary">상세보기</a>
        </div>
    </div>
</div> -->
<button id="btn-save" class="btn btn-primary" onclick="location.href='/board/saveForm'">글 등록</button>
<table width="100%" class="board_list" border="1" 
style="margin: auto; text-align:center;">
    <colgroup>
        <col width="10%"/>
        <col width="*"/>
        <col width="15%"/>
        <col width="15%"/>
        <col width="15%"/>
    </colgroup>
    <thead>
    <tr>
        <td>게시글번호</td>
        <td>게시글제목</td>
        <td>작성자</td>
        <td>작성일</td>
        <td>조회수</td>
    </tr>
    </thead>
    <th:block th:if="${boardList} != null">
        <tr th:each="board : ${boardList}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{|/board/${board.id}}">[[${board.title}]]</a>
            </td>
            <td th:text="${board.user.userid}"></td>
            <td th:text="${board.createDate}"></td>
            <td th:text="${board.count}"></td>
        </tr>
    </th:block>
    <th:block th:unless="${boardList} != null">
        <tr>
            <td colspan="5">게시글이 존재 하지 않습니다.</td>
        </tr>
    </th:block>
</table>


<!-- footer fragment -->
<div th:replace="layout/footer :: fragment-footer"></div>
</body>
</html>