<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AI Chatbot</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
        $("body").html("<div>This is a new div.</div>");
        });
    });
    </script>
</head>
<body>
    <div class="caption">
        <img id="thumbnail"
             src="https://media.istockphoto.com/photos/3d-illustration-of-virtual-human-on-technology-background-picture-id1181533674?s=612x612">
        <h1>Welcome, visitor!</h1>
        <h1>I am an puri Chat-bot</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="chat-list" #chatListContainer>
            <ng-container *ngFor="let item of chatMessages">
                <div class="chat-item"
                    [ngClass]="{'right' : item?.user?.id == human.id, 'left': item?.user?.id != human.id}">
                <img id="avatar" [src]="item?.user?.profileImageUrl">
                <p id="message-body">{{item?.message}}</p>
                </div>
            </ng-container>
            </div>
            <div class="chat-footer">
            <input matInput id="chat-textarea" [(ngModel)]="chatInputMessage" required>
            <button id="send-button" (click)="send()" [disabled]="chatInputMessage === ''">
                send
            </button>
            </div>
        </div>
    </div>
    <div class="caption">
        <button id="clear-button" (click)="clearConversation()" >
            clear conversation
        </button>
    </div>
    <button>Create a new div</button>
</body>
</html>